@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Neue Montreal';
    src: url('../app/public/assets/font/ppneuemontreal-book.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Neue Montreal';
    src: url('../app/public/assets/font/ppneuemontreal-bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

body {
    font-family: 'Neue Montreal', sans-serif;
}